@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.input{
    display: flex;
    justify-content: center;
    label{
        font-size: 14px
    }
    input{
        @include input-text(420px, 8px);
        margin-bottom: 18px;
    }
}