@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.AccounDriver {
  .container {
    @include container;
  }
}
.button{
  display: flex;
  justify-content: end;
  width: 100%;
  .buttonSave{
      margin-top: 20px;
      @include buttonSave(var(--green-color));
  }
}
