@import "./../../../styles/color.scss";
@import "./../../../styles/mixins.scss";

.newCarInnew {
  .type1 {
    display: flex;
    margin: 0 25px;
    justify-content: space-between;
    input {
      @include input-text(70px, 8px);
    }
  }
  .type2 {
    display: flex;
    margin: 0 25px;
    justify-content: space-between;
    input {
      @include input-text(155px, 8px);
    }
  }
  .button {
    display: flex;
    justify-content: end;
    width: 100%;
    .buttonSave {
      margin-top: 20px;
      @include buttonSave(var(--green-color));
    }
  }
  .typeCar {
    width: 155px;
    height: 20px;
    @include input-text(155px, 8px);
  }
}
